.input-container {
  display: flex;
  justify-content: space-between;
  button {
    border-radius: 15px;
    max-height: 40px;
    border: none;
    padding: 0 20px;
    background-color: green;
  }
}

.input {
  width: 70%;
  border-radius: 15px;
  min-height: 40px;
  border: none;
  padding: 0 15px;
  background-color: rgb(36, 36, 114);
  margin-bottom: 40px;
  font-size: 16px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lightgrey;
  background-color: rgb(36, 36, 114);
  margin-bottom: 15px;
  padding: 5px 15px;

  .btns {
    width: 35%;
    display: flex;
    justify-content: space-between;
  }
}

// .position {
//   position: absolute;
//   right: 0;
//   width: 60px;
//   height: 40px;
//   border-radius: 0px 15px 15px 0px;
//   background-color: greenyellow;
//   cursor: pointer;
//   padding: 10px;
// }
