<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">

  <div class="input-container">
    <label>
      Todo text
    </label>
    <div class="position"><img src="../../../icons/Arrow.svg" alt=""></div>
    <input class="input" placeholder="Create todo...">
  </div>

  <button class="button" type="submit">Add todo</button>

</form>
<div class="content">

  <div class="content" *ngFor="let todo of todos">
    <h3>{{todo.text}}</h3>
    <p *ngIf="todo.done; else elseBlock">Lokti Kusai</p>
    <ng-template #elseBlock>Lokti ne kusai</ng-template>
    <button (click)="!todo.id || deleteTodo(todo.id)">X</button>
  </div>
</div>