<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">

  <div class="input-container">
    <!-- <button class="position" type="submit"></button>
      <input class="input" formControlName="text" placeholder="Create todo..."> -->
    <input class="input" formControlName="text" placeholder="Create todo...">
    <button class="button" type="submit">Add</button>
  </div>
</form>

<div class="content" *ngFor="let todo of todos">
  <h3>{{todo.text}}</h3>
  <!-- <p *ngIf="todo.done; else elseBlock">Lokti Kusai</p> -->
  <!-- <ng-template #elseBlock>Lokti ne kusai</ng-template> -->

  <div class="btns">
    <button 
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      (click)="selectTodo(todo)"
    >
      Edit!
    </button>
    <button class="btn btn-danger" (click)="!todo.id || deleteTodo(todo.id)">Delete</button>
  </div>
</div>

<app-todo-modal 
  [todo]="selectedTodo"
  (edit)="onEdit($event)"
>
</app-todo-modal>
