<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">

  <div class="input-container">
    <button class="position" type="submit"></button>
    <input class="input" formControlName="text" placeholder="Create todo...">
  </div>
</form>
<div class="content">

  <div *ngFor="let todo of todos">
    <h3>{{todo.text}}</h3>
    <p *ngIf="todo.done; else elseBlock">Lokti Kusai</p>
    <ng-template #elseBlock>Lokti ne kusai</ng-template>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Edit!
    </button>
    <button (click)="!todo.id || deleteTodo(todo.id)">X</button>
  </div>

  <app-todo-modal></app-todo-modal>
